<div class="connect">
  <!-- 终端状态 -->
  <div class="connect__status">
    <span class="connect__status--status" ng-class="{'connect__status--online': vm.isEndpointConnected, 'connect__status--offline': !vm.isEndpointConnected}"></span>
    <span class="connect__status--text">{{vm.status}}</span>
  </div>

  <!-- 连接信息 -->
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="large-4 cell">
        <label for="">服务器</label>
        <input type="text" value="broker.mqttdashboard.com" ng-model="vm.input.host" placeholder="broker.mqttdashboard.com">
      </div>
      <div class="large-2 cell">
        <label for="">端口</label>
        <input type="text" value="8000" ng-model="vm.input.port" placeholder="8000">
      </div>
      <div class="large-4 cell">
        <label for="">ClientID</label>
        <input type="text" value="clientId-iHGrwZmvzK" ng-model="vm.input.clientId" placeholder="clientId-iHGrwZmvzK">
      </div>
      <div class="large-2 cell">
        <button type="button" class="button connectButton" ng-if="!vm.isEndpointConnected" ng-disabled="!vm.input.host || !vm.input.port || !vm.input.clientId" ng-click="vm.connect()">{{vm.connectBtnText}}</button>
        <button type="button" class="button connectButton" ng-if="vm.isEndpointConnected" ng-click="vm.disconnect()">{{vm.disconnectBtnText}}</button>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="large-4 cell">
        <label for="">用户名</label>
        <input type="text" ng-model="vm.input.username">
      </div>
      <div class="large-4 cell">
        <label for="">密码</label>
        <input type="text" ng-model="vm.input.password">
      </div>
      <div class="large-2 cell">
        <label for="">保持连接</label>
        <input type="text" ng-model="vm.input.keepalive" value="10" placeholder="10">
      </div>
      <div class="large-2 cell">
        <label for="">清空会话</label>
        <input type="checkbox" class="checky" checked="checked" ng-disabled="vm.input.isConnect">
      </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="large-8 cell">
          <label for="">长连接Topic</label>
          <input type="text" ng-model="vm.input.longwilltopic">
        </div>
        <div class="large-2 cell">
          <label for="">长连接Qos</label>
          <select id="lwQosInput" ng-model="vm.input.longwillqos">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="large-2 cell">
          <label for="">长连接保持</label>
          <input type="checkbox" ng-model="vm.input.longwillretain">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="large-12 cell">
        <label for="">长连接消息</label>
        <textarea ng-model="vm.input.longwillmessage"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="pubsub cell large-6">
        <h3>发布</h3>
        <div class="grid-x panel">
          <div class="large-12 cell">
            <div class="grid-x grid-margin-x">
              <div class="large-6 cell">
                <label>Topic</label>
                <input type="text" ng-model="vm.input.pubTopic">
              </div>
              <div class="large-2 cell">
                <label>Qos</label>
                <select ng-model="vm.input.pubQos">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
              <div class="large-2 cell">
                <label>保留</label>
                <input type="checkbox" ng-mode="vm.input.pubRetain">
              </div>
              <div class="large-2 cell">
                <button class="small button publishButton" ng-disabled="!vm.input.pubTopic" ng-click="vm.publish()">发布</button>
              </div>
            </div>
            <div class="grid-x">
              <div class="large-12 cell">
                <label>消息</label>
                <textarea cols="30" rows="5" ng-model="vm.input.pubMessage"></textarea>
              </div>
            </div>
          </div>
        </div>
        <h3>订阅</h3>
        <div class="grid-x panel">
          <div class="large-12 cell">
            <div class="grid-x grid-margin-x">
              <div class="large-8 cell">
                <label>Topic</label>
                <input type="text" ng-model="vm.input.subTopic">
              </div>
              <div class="large-2 cell">
                <label>Qos</label>
                <select ng-model="vm.input.subQos">
                  <option value="0" selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
              <div class="large-2 cell">
                <button class="small button subscribeButton" ng-disabled="!vm.input.subTopic" ng-click="vm.subcribeMessage(vm.input.subTopic, vm.input.subQos)">订阅</button>
              </div>
            </div>
            <div class="grid-x">
              <div class="large-12 cell">
                <div class="callout" ng-repeat="item in vm.subscription">
                    <button class="close-button" aria-label="Close alert" type="button" ng-click="vm.unSubscribe(item.topic, $index)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <p>{{item.topic}}, qos: {{item.qos}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="log cell large-6">
        <h3>日志</h3>
        <button class="small button" ng-click="vm.clearEndpointLog()">清除</button>
        <textarea name="" id="" cols="30" rows="15" ng-model="vm.endpointLog"></textarea>
      </div>
    </div>
  </div>
</div>